<!DOCTYPE html>
<html>
  <head>
    <title>Crew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= render 'shared/nav' %>
    <% end %>

    <main class="pa4 black-80 mw7 center">
      <%= render 'shared/flash_message' %>
      <%= render 'shared/crumbs' unless request.original_url == root_url %>

      <%= yield %>
    </main>
  </body>
</html>
